@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-weight: 300;
    scroll-behavior: smooth;
    font-family: "Roboto",sans-serif;
    line-height: 1.4;
}
a{
    text-decoration: none;
}
body{
    display: flex;
}
header{
    border: 1px solid #ccc;
    height: 100vh;
}
nav h1{
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
nav ul{
    list-style: none;
}
nav ul li{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    color: black;
}
nav ul li:hover{
    background: #ccc;
    transition: 0.3s ease-in-out;
}
/* Main section */
main{
    padding: 50px;
    max-width: 1200px;
}