@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html,body{
    font-weight: 300;
    scroll-behavior: smooth;
    font-family: "Inter",sans-serif;
    line-height: 1.4;
}
body{
    font-size: 1.4rem;
}
header{
    position: sticky;
    top: 0;
    background: #fff;
}
nav{
    max-width:1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav ul li{
    font-size: 1.8rem;
}
nav ul li:hover{
     color: aqua;
}
nav i{
    font-size: 2.rem;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* hero section */
#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero_content h1{
    font-size: 6rem;
    line-height: 1.2;
}
.hero_content h4{
    font-size: 2.4rem;
    font-weight: 300;
}
.hero_image img{
    border-radius: 5rem;
}
/* Long card section */
.h-card{
    display: flex;
    margin: 2rem;
    box-shadow: 0 px 5px 4px rgba(221, 221,221, 0.5);
    align-items: center;
    border: 1px solid #e2e2e2;
    border-radius: 0.5rem;
    overflow: hidden;
}
.card-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.status{
    display: flex;
    justify-content:space-between;
}
.read_btn{
    all: unset;
    font-weight: 600;
    border-bottom: 1px solid transparent;
}
.read_btn:hover{
    border-bottom: 1px solid rgb(173, 162, 162);
}
/* v- card */
.v-card{
    display: flex;
    flex-direction: column-reverse;
    max-width: 320px;
    
    box-shadow: 0 px 5px 4px rgba(221, 221,221, 0.5);
    align-items: center;
    border: 1px solid #e2e2e2;
    border-radius: 0.5rem;
    overflow: hidden;
}
.card_container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}.card_wrapper{
    display: flex;
    justify-content: center;
}
.v-card img{
    width: 100%;
    height: 100%;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
footer ul{
    display: flex;
    gap: 2rem;
}
footer ul li{
    font-size: 1.8rem;
}
.post h1{
    font-size:3rem;
}
.banner_image img{
 width: 100%;
}
.about_author{
    display: flex;
    gap:1rem ;
    align-items: center;
}
.post hr{
    margin: 3rem 0;
}
article{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
    color: #000;
}
